<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>CMTool_v1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>tempfile.dir</param-name>
    <param-value>
     C:\Users\chintan_pandya\Downloads\Storage\
   </param-value>
  </context-param>
  <servlet>
    <servlet-name>UploadTicket</servlet-name>
    <servlet-class>com.CMTool.src.UploadTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadTicket</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
</web-app>